<div class="people-container">
    <div class="h3">Star Wars People</div>
    <div class="table-responsive" *ngIf="people !== null; else loading">
    <table class="table table-sm">
      <thead>
        <tr class="table-columns">
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col">Height</th>
          <th scope="col">Year of Birth</th>
          <th scope="col">Gender</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let people of people.results; index as i">
          <th scope="row"></th>
          <td>{{ people.name }}</td>
          <td>{{ people.height }}</td>
          <td>{{ people.birth_year }}</td>
          <td>{{ people.gender }}</td>
        </tr>
      </tbody>
    </table>
    </div>
    
    <div class="pagination">
      <button *ngIf="this.people.previous !== null" type="button" class="btn btn-outline-dark pull-right" (click)="handleclick('back')">previous</button>
      <div class="currentPage">{{currentPage}}</div>
      <button *ngIf="this.people.next !== null" type="button" class="btn btn-outline-dark pull-left" (click)="handleclick('forward')">next</button>
    </div>
</div>

<ng-template #loading>
    <div>Loading...</div>
</ng-template>