.people-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.table-responsive {
  background-color: rgba(184, 135, 11, 0.26);
  border-radius: 30px;
  max-width: 50%;
}

td {
  padding: 10px;
}

.pagination {
  padding: 10px;
}
